*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

:root{
    --ROUJE:#EA3449;
    --White:#fff;
}
h1,h2,h3,h4,p{
    color: var(--White);
}
.fa-bars{
    display: none;
}
p{
    font-weight: 200;
    font-size: 14px;
}
h3{
    color: #EA3449;
    font-weight: 400;
    font-size: 30px;
}
h4{
    font-weight: 500;
    font-size: 14px;

}
/***** NAVIGATION BAR****/
.logo{
    height: 70px;
    width: 70px;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    height: 70px;
}
ul{
    display: flex; 
}
nav li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: unset;
}
nav ul li{
    font-weight: 600;
    font-size: 16px;
    color: white;
}


body{
    background-image: linear-gradient(180deg,rgba(0,0,0,1),
    rgba(0,0,0,0.5)),url(./BGs/home-bg.jpg); 
    background-size: cover;
    background-position: right;
} 
main{
    padding: 80px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    background-color: var(--ROUJE);
 
    width: 50%;
    height: 4px;
    margin: 80px 0;
}
.introduction{
    display: flex;
    height: fit-content;
background-color: aqua;
}
.phylosophy{
    background-color: var(--ROUJE);
    width: 100%;
    height: fit-content;
    padding: 40px 20px;
}
.phylosophy :nth-child(3){
    margin-top: 40px;
}
main .introduction img{
    height: 450px;
    width: auto;
    float: right;
    margin: 0 20px;
}

.introduction h3{
    color: var(--White);
    font-size: 30px;
    text-align: start;
    margin-bottom: 10px;
}

.introduction p{
    font-size: 18px;
    line-height: 150%;
}


.offers{
    display: flex;
    gap: 10px;

}
.offer,.adresse{
    padding: 10px 2px;
    background-color: var(--ROUJE);
    text-align: center;

}
.adresse{
    margin: 0 5%;

}
.quote{
    text-align: center;
    width: 70%;
}
.quote h4{
    margin-top: 30px;
    margin-bottom: 0;
}
.quote p{
    font-size: 20px;
}
h3,h4{
    text-align: center;
    margin-bottom: 30px;
}
.adresses{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
footer {
    
    width: 100%;
    height: 2rem;  
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  footer i{
    color: var(--White);
    cursor: pointer;
  }

  @media screen and (max-width:800px) {
    main .introduction img{
        height: 230px;
        
    }
    
  }
  @media screen and (max-width:600px) {
    
    main{
        padding: 20px;
        margin-top: 100px;
    }
  }
  @media screen and (max-width:400px) {
    
    .offers, .adresses{
        flex-direction: column;
     }
     .adresses{
         justify-content: unset;
     }
  }
  @media screen and (max-width: 500px) {
    nav{
        flex-direction: row-reverse;
    }
    nav ul{
        
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: -100px;
        background-color: #0D1F2D;
        transition: all 200ms ease-in-out;
    }
    nav ul li {
        margin: 10px;
    }
    
    li .fa-bars{
        background-color: transparent;
        position: absolute;
        top: 20px;
        z-index: 5;
        color: white;
        font-size: 40px;
    }
    .hide{
        left: 0;
        transition: all 200ms ease-in-out;
    }
  }