*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

:root{
    --ROUJE:#EA3449;
    --White:#fff;
    --blue:#0D1F2D;
}
h1,h2,h3,h4,p{
    color: var(--White);
    font-weight: 300;
}
/****** scroll******/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/****** scroll******/
/***** NAVIGATION BAR****/
.logo{
    height: 70px;
    width: 70px;
}


nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    place-items: center;
    height: 9%;
    z-index: 5;
    background-color: black;
}
ul{
    display: flex; 

}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: unset;
}
nav ul li{
    font-weight: 600;
    font-size: 16px;
    color: white;
}
.background{
    background-image: linear-gradient(180deg,rgba(0,0,0,1),
    rgba(0,0,0,0.5)),url(./BGs/possible\ bg.jpg); 
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: fixed;
    z-index: -4;
    top: 0;
    left: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 3%;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
  }
  footer i{
    color: var(--White);
    cursor: pointer;
  }

  .up{
    position: fixed;
    top: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: black;
    z-index: 5;
    padding: 0 20px;
    box-sizing: border-box;
  }
main{
    position: fixed;
    overflow-y:scroll;
    height: 88%;
    width: inherit;

}


body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.products{
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.product{
  width: min-content;
  background-color: #EA3449;
  margin: 10px;
  cursor: pointer;
}
.picture{
  padding: 5px;
  width: fit-content;
  margin: 0 auto;
}

.picture img{
  height: 200px;
}

.infos{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.infos:first-child{
  display: flex;
}

.infos .category{
  display: inline-block;
  width: fit-content;
}
.product_footer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.product_footer .fa-solid{
  font-size: 50px;
}

.plat-name{
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: inline;
  width: fit-content;
  flex-direction: row;
}
.plat-desc{
  font-size: 15px;
  padding: 10px;
  border:1px solid #0D1F2D;
}
.plat-price{
  /* margin: 0 auto; */
  font-weight: bold;
  letter-spacing: 1px;
}
/* products end */

.cart{
  padding: 5px;
  cursor: pointer;
}

.cart_icon{
  position: relative;
  color: white;
}

.choice_count{
  position: absolute;
  top: -7px;
  right: -10px;
  background-color:#EA3449;
  width: 10px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
}
/* cart ned */



.order .choice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
}
.order .choice .fa-solid{
  font-size: 15px;
}
.order .choice i{
  font-size: inherit;
}
.choice span,i{
  margin: 0 5px;
}

.order-footer{
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #EA3449;
  color: var(--White);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.order-footer button{
  height: 100%;
  border: 3px solid #EA3449;
  padding: 0 5px;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
}
.order-footer p{
  margin: 0 10px;
}
.order{
  background-color: var(--White);
  position: absolute;
  right: 0;
  top: 5vh;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
  /* min-width: 2vw; */
  z-index: -10;
  
  opacity: 0;
  transition: 300ms ease-in;
}
.hide_order{
  /* top: -300px; */
  opacity: 100%;
  position: absolute;
  z-index: -5;
  transition: 300ms ease-in;
  }

:is(.product:hover) .fa-solid{
  color: #F5F84F;
}

:is(.choice:hover) .fa-solid{
  color: #EA3449;
}
.choice:hover{
  background-color: rgb(221, 220, 220);
  font-size: 12px;
  font-weight: 600;
}
.filtre{
  margin-right: auto;
  margin-left: 10px;
}

.order button{
  border: 2px solid #0D1F2D;
}

.order button:hover{
  background-color: #0D1F2D;
  color: #F5F84F;
}