*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

:root{
    --ROUJE:#EA3449;
    --White:#fff;
    --blue:#0D1F2D;
}
h1,h2,h3,h4,p{
    color: var(--White);
    font-weight: 300;
}
/****** scroll******/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/****** scroll******/
/***** NAVIGATION BAR****/
.logo{
    height: 70px;
    width: 70px;
}

body{
    height: 100vh;
    width: 100vw;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    height: 70px;
}
ul{
    display: flex; 
    margin: 0 50px;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: unset;
}
nav ul li{
    font-weight: 600;
    font-size: 16px;
    color: white;
}
body{
    background-image: linear-gradient(180deg,rgba(0,0,0,1),
    rgba(0,0,0,0.5)),url(./BGs/possible\ bg.jpg); 
    
    background-size: cover;
    
}  
.filtre{
    position: absolute;
    margin-top: 80px;
}

.filtre-button i{
   width: 50px;
   height: 50px;
    
}  

.order{
    background-color: var(--White);
    position: fixed;
    right: 5vw;
    top: 100px;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    z-index: 1;
    border: 2px solid ;
}

.order .choice{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px ;
    padding: 5px 0;
    border: 1px solid var(--blue);
    cursor: pointer;
}
.order .choice i{
    font-size: inherit;
}
.choice span,i{
    margin: 0 5px;
}
.order-header{
    background-color: #EA3449;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--White);
}
.order-footer{
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #EA3449;
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.products{
    /* background-color: #fff; */
    border:10px solid var(--White);
    margin-top: 20px;
    position: fixed;
    overflow:scroll;
    overflow-x: hidden;
    left: 50px;
    top: 100px;
    height: 80%;
    width: 500px;
}

.product{
    display: flex;
    /* display: none; */
    background-color: var(--ROUJE);
    border-radius: 20px 0px 0px 20px ;
    margin-top: 20px;
    height: 130px;
    padding-right: 20px;
    cursor: pointer;
}

.product .plat-desc{
    font-size: 12px;
}

.picture img{
    border-radius: 20px 0px 0px 20px ;
    height: 130px;
    width: 150px;
    display: inline-block;
}
.infos{
    background-color: #EA3449;
    margin: 10px;
    width: 300px;
    height: max;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button{
    background-color: none;
    float: right;
    margin: auto;
}
.fa-solid{
    color: var();
    font-size: 50px;
}
:is(.product:hover) .fa-solid{
    color: yellow;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;  
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  footer i{
    color: var(--White);
    cursor: pointer;
  }