*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

:root{
    --ROUJE:#EA3449;
    --White:#fff;
}
h1,h2,h3,h4,p{
    color: var(--White);
}
p{
    font-weight: 200;
    font-size: 14px;
}
h3{
    color: #EA3449;
    font-weight: 400;
    font-size: 30px;
}
h4{
    font-weight: 500;
    font-size: 14px;

}
/***** NAVIGATION BAR****/
.logo{
    height: 70px;
    width: 70px;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    height: 70px;
}
ul{
    display: flex; 

}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: unset;
}
nav ul li{
    font-weight: 600;
    font-size: 16px;
    color: white;
}

body{
    background-image: linear-gradient(180deg,rgba(0,0,0,1),
    rgba(0,0,0,0.5)),url(./BGs/home-bg.jpg); 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 


button{
    width: fit-content;
    align-self: center;
    padding: 8px 40px;
    margin: 20px 0;
    border: none;
    background-color: var(--White);
    border-radius: 10px;
}
button span{
    font-weight: bold;
}

.form-holder{
    background-color: #EA3449;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    
    padding: 0 20px;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;  
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 1;
    
  }
  footer i{
    color: var(--White);
    cursor: pointer;
  }

  .input_line{
    display: flex;
    justify-content:flex-end;
    gap: 50px;
    margin: 20px 0;
  }
  fieldset{
    border: none;
    width: 100%;
  }
  input{
    width: 50%;
    height: 35px;
  }
  textarea{
    width: 50%;
    height: 250px;
  }
  label{
    font-weight: bold;
    color: #0D1F2D;
  }
  button:hover{
    color: #fff;
    background-color: #0D1F2D;
  }

  @media screen and (max-width: 700px) {
    .form-holder{
        width: 80vw;
    
    }
  }
  @media screen and (max-width: 375px) {
    textarea{
        height: 150px;
        width: auto;
    }
    .input_line{
        flex-direction: column;
        gap: 5px;
    }
    input{
        height: 30px;
        width: auto;
    }
    fieldset{
        width: 80%;
    }
  }

  @media screen and (max-width: 500px) {
    nav{
        flex-direction: row-reverse;
    }
    nav ul{
        display: flex;
        
        position: absolute;
        top: 30px;
        padding: 0 0;
        background-color: #0D1F2D;
    }
    
    li .fa-bars{
        background-color: transparent;
        position: absolute;
        top: 20px;
        z-index: 5;
        height: 100px;
        color: #EA3449;
        font-size: 40px;
    }
  }