*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

:root{
    --ROUJE:#EA3449;
    --White:#fff;
}
h1,h2,h3,h4,p{
    color: var(--White);
}
/***** NAVIGATION BAR****/
.logo{
    height: 70px;
    width: 70px;
}
nav{

    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    height: 70px;

}
ul{
    display: flex; 

}
nav  li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: unset;
}
nav ul li{
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.background{
    top: 0;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,1),
    rgba(0,0,0,0.5)),url(./BGs/home-bg.jpg); 
    
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: -5;
}


/***** Body****/

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span{
    display: block;
}

/* body{
    overflow: hidden;
} */

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 100px 50px;
}




.main-title{
    /* background-color: violet; */
    margin-bottom: 120px;
    
}

.main-title h1{
    font-size: 46px;
    font-weight:200;
    line-height: 150%;
}

.caption{

    text-align: center;

    
}
.caption h3{
    font-size: 22px;
    font-weight: 200;
    line-height: 180%;
}
.caption p{
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
    margin-right: 10%;
    margin-left: 10%;
}

footer {

    bottom: 0;
    width: 100%;
    height: 2rem;  
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  footer i{
    color: var(--White);
    cursor: pointer;
  }
  .fa-bars,.fa-bars:before{
    display: none;
  }

  @media screen and (max-width: 1180px){
   h3{
    color: #EA3449;
   }
   

span {
    display: block;
}
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}
.main-title h1{
    font-size: 30px;
   }
}

@media screen and (max-width: 500px) {
    .fa-bars,.fa-bars:before{
        display: unset;
      }
    nav{
        flex-direction: row-reverse;
    }
    nav ul{
        
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: -100px;
        background-color: #0D1F2D;
        transition: all 200ms ease-in-out;
    }
    nav ul li {
        margin: 10px;
    }
    
    li .fa-bars{
        background-color: transparent;
        position: absolute;
        top: 20px;
        z-index: 5;
        
        color: white;
        font-size: 40px;
    }
    .hide{
        left: 0;
        transition: all 200ms ease-in-out;
    }
  }
  @media screen and (max-width: 340px) {

    li .fa-bars{
        font-size: 30px;
    }
    .up p{
      font-size: 10px;
      font-weight: bold;
    }
    .logo{
      height: 50px;
      width: auto;
    }
  }